---
import IconCarta from "@/assets/images/icons/icon-carta.svg";
import { Image } from "astro:assets";
---

<section class="px-[20px] lg:px-[60px] xl:px-[170px] w-full">
  <div class="flex items-center gap-4 border-b border-borderPlatos w-full pb-5">
    <Image src={IconCarta} alt="Icono de carta" class="w-5" />
    <h1 class="font-semibold text-primary text-lg">
      Conoce nuestros platos congelados
    </h1>
  </div>
</section>
