---
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import Filter from "@/components/products/Filter.astro";
import Platos from "@/components/products/Platos.astro";

import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Comida congelada a domicilio | Platos Congelados Cheffify"
  description="Platos saludables y deliciosos, preparados y congelados para tu comodidad. ¡Disfruta de comida casera sin el trabajo de cocinar!"
>
  <main>
    <Navbar />
    <div
      class="flex mt-10 animate-fade-in-up animate-delay-300 animate-duration-slow px-[20px] lg:px-[60px] xl:px-[170px] gap-20"
    >
      <Filter />
      <Platos />
    </div>
    <Footer />
  </main>
</Layout>
