---
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import Filter from "@/components/products/Filter";
import Platos from "@/components/products/Platos.astro";
import Layout from "@/layouts/Layout.astro";

import ImagePoints from "@/assets/images/decoratives/elemento-decorativo-points-orange.svg";
import FlowerLeft from "@/assets/images/decoratives/elemento-decorativo-flower-3.svg";
import { Image } from "astro:assets";
---

<Layout
  title="Comida congelada a domicilio | Platos Congelados Cheffify"
  description="Platos saludables y deliciosos, preparados y congelados para tu comodidad. ¡Disfruta de comida casera sin el trabajo de cocinar!"
>
  <main>
    <Navbar />
    <div
      class="overflow-x-hidden relative flex flex-col lg:flex-row mt-10 animate-fade-in-up animate-delay-300 animate-duration-slow px-[20px] lg:px-[60px] xl:px-[170px] gap-20"
    >
      <Filter client:load />
      <Platos />

      <!-- Elementos decorativos -->
      <Image
        alt="Elemento decorativo de puntos naranjas"
        src={ImagePoints}
        class="hidden lg:block absolute top-80 left-0"
      />
      <Image
        alt="Elemento decorativo de flor derecha"
        src={FlowerLeft}
        class="hidden lg:block absolute top-80 -right-10 -z-10"
      />
    </div>
    <Footer />
  </main>
</Layout>
