---
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import Layout from "@/layouts/Layout.astro";

import ImageLeft from "@/assets/images/decoratives/404-left.svg";
import ImageRight from "@/assets/images/decoratives/404-right.svg";
import { Image } from "astro:assets";
---

<Layout
  title="Servicio de alimentación para empresas | Cheﬃfy"
  description="Cheﬃfy ofrece servicios de alimentación para empresas con menús personalizados, frescos y saludables. Mejora la experiencia de tu equipo con opciones de calidad."
>
  <main>
    <Navbar />
    <section
      class="px-[20px] lg:px-[60px] xl:px-[170px] py-10 flex items-center justify-center"
    >
      <div
        class="shadow-cheffify-card flex items-center justify-center lg:justify-between py-20 w-full max-w-4xl rounded-xl"
      >
        <Image
          src={ImageLeft}
          alt="Decorativa imagen izquierda 404"
          class="hidden lg:block"
        />
        <div>
          <h1 class="font-bold text-primary text-7xl text-center mb-3">404</h1>
          <h2
            class="uppercase text-secondary font-bold text-2xl text-center mb-3"
          >
            ¡OPS!
          </h2>
          <p class="text-primary font-light text-lg text-center">
            Lo sentimos, esta página no está disponible.
          </p>
          <a
            href="/"
            class="bg-secondary px-10 py-2 rounded-2xl transition duration-500 hover:bg-cheffify-aqua text-white mx-auto block mt-5 w-fit"
            >Volver</a
          >
        </div>
        <Image
          src={ImageRight}
          alt="Decorativa imagen derecha 404"
          class="hidden lg:block"
        />
      </div>
    </section>
    <Footer />
  </main>
</Layout>
