---
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Comida congelada a domicilio | Platos Congelados Cheffify"
  description="Platos saludables y deliciosos, preparados y congelados para tu comodidad. ¡Disfruta de comida casera sin el trabajo de cocinar!"
>
  <main>
    <Navbar />
    <section
      class="bg-banner-cotizar py-20 bg-cover flex items-center justify-center flex-col animate-fade-in animate-delay-300 animate-duration-slow px-4 bg-center aspect-[1905/324]"
    >
      <h2
        class="text-white text-4xl font-bold animate-slide-in-bottom animate-delay-500 animate-duration-slow text-center"
      >
        Haz tu pedido aquí
      </h2>
      <p
        class="text-white font-medium text-lg max-w-lg text-center mt-10 animate-slide-in-bottom animate-delay-500 animate-duration-slow"
      >
        Ofrecemos soluciones a medida para tu empresa, ya sea una cadena de
        restaurantes, hoteles o una gran compañía. Tenemos el mejor servicio de
        comida congelada.
      </p>
    </section>
    <section>
      <!-- INFO: Aca debe ir el iframe del formulario -->
    </section>
    <Footer />
  </main>
</Layout>
