---
import HeroBanner from "@/components/HeroBanner.astro";
import Navbar from "@/components/Navbar.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Cheffify">
  <main>
    <Navbar />
    <HeroBanner />
  </main>
</Layout>
