---
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";

import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Comida congelada a domicilio | Platos Congelados Cheffify"
  description="Platos saludables y deliciosos, preparados y congelados para tu comodidad. ¡Disfruta de comida casera sin el trabajo de cocinar!"
>
  <main>
    <Navbar />
    <h1>Platos</h1>
    <Footer />
  </main>
</Layout>
