---
import CardHero from "./CardHero.astro";
---

<section
  class="bg-hero-pattern w-full py-28 flex justify-center bg-cover lg:bg-center animate-fade-in"
>
  <div
    class="px-4 lg:px-0 lg:ml-9 max-w-2xl animate-slide-in-bottom animate-delay-300 animate-duration-slow"
  >
    <h1 class="font-bold text-4xl text-white text-center">
      ¿Eres empresa o particular?
    </h1>
    <p class="font-medium text-2xl text-white text-center mt-4">
      Ofrecemos soluciones a tu medida: ya sea para tu empresa o para ti como
      particular.
    </p>
    <div class="flex flex-col lg:flex-row gap-6 items-start mt-10">
      <CardHero
        title="Soy Empresa"
        btnText="Solicitar COTIZACIÓN"
        legalText="*Contáctanos directamente."
        bgButton="cheffify-aqua"
        typeFrozt={false}
        link="/cotizar"
      />
      <CardHero
        title="Soy Particular"
        btnText="Pedir en"
        legalText="es ahora nuestro distribuidor ofic¡al."
        bgButton="cheffify-orange"
        typeFrozt={true}
        link="/cotizar"
      />
    </div>
  </div>
</section>
