---
import Logo from "@/assets/images/logos/logo.svg";
import LogoEmpresa from "@/assets/images/logos/logo-cheffify-empresa.svg";
import { Image } from "astro:assets";

// Obtener la ruta actual
const currentPath = Astro.url.pathname;
// INFO: Logo empresa visible en las siguientes rutas
const LOGO_EMPRESA_VISIBLE_INCLUDES = [
  "/quienes-somos",
  "/cotizar",
  "/nuestros-platos",
];
---

<a href="/" class="animate-fade-in">
  {
    LOGO_EMPRESA_VISIBLE_INCLUDES.includes(currentPath) ? (
      <Image
        src={LogoEmpresa}
        alt="Logo de cheffify"
        class="size-30 transition-all duration-500 hover:scale-105"
        loading="eager"
      />
    ) : (
      <Image
        src={Logo}
        alt="Logo de cheffify"
        class="size-30 transition-all duration-500 hover:scale-105"
        loading="eager"
      />
    )
  }
</a>
